* {
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.container {
    min-width: 350px;
    max-width: 350px;
    margin: auto;
    box-shadow: 0 0 15px grey;
    padding: 0;
}

.result-screen {
    width: 100%;
    height: 100px;
    padding: 10px 8px;
    font-size: 35px;
    outline: none; border: none;
    border-bottom: 2px solid orange;
    text-align: right;
}

.buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin-right: 0;
    border: none;
    width: 87.5px;
    height: 90px;
    display: inline-block;
    font-size: 28px;
    box-shadow: 0 0 2px #000;
    outline: none;

}

.btn-yellow {
    background-color: coral;
    /* border: 0.2px solid red; */
    box-shadow: 0 0 2px #000;
}

.btn-equal {
    width: 87.5px;
    height: 90px;
    background: green;
    color: aliceblue;
    box-shadow: 0 0 2px #000;
    outline: none;
    border: none;
    font-size: 28px;
}

.btn-grey:hover {
    background: gold;
    color:#fff;

}

.btn-clear {
    width: 87.5px;
    height: 90px;
    background: red;
    color:#fff;
    box-shadow: 0 0 2px #000;
    outline: none;
    border: none;
    font-size: 28px;

}